name: Generate Snake

on:
    schedule:
        - cron: "0 0 * * *"
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: Platane/snk@v3
              with:
                  github_user_name: LeAnhTuanIT
                  outputs: |
                      dist/github-snake.svg
                      dist/github-snake-dark.svg?palette=github-dark
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_branch: output
                  publish_dir: dist
